@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre del Libro:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
    </div>
    <div class="sm-4">
        <label for="exampleInputPassword1" class="form-label">Descripcion:</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
   <br/>

    <div class="form-group row mb-4">
        <div class="col-sm-2">
            <label>Nombre:</label>
        </div>
        <div class="col-sm-4">
            @Html.TextBox("Precio", "", new { @class = "form-control" })
        </div>
        <div class="col-sm-2">
            @Html.Label("lbautor", "Autor")
        </div>
        <div class="col-sm-4">
            @Html.TextArea("descripcion", "", new { @class = "form-control", @placeHolder = "Ingrese la descripción" })
        </div>
        <div class="col-sm-2">
            @Html.Label("lblDescripcion", "Descripción")
        </div>
        <div class="col-sm-4">
            @Html.DropDownList("marca_id", ViewData["listadoDeMarcas"] as SelectList, "Seleccione una marca", new { @class = "form-control" })
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
